<section class="container">
  <h1 class="display-2">{{ this.data.name }}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <p>Height: {{ data.height }}</p>
      <p>Weight: {{ data.mass }}</p>
      <p>Hair Color: {{ data.hair_color }}</p>
      <p>Skin Color: {{ data.skin_color }}</p>
      <p>Birth Year: {{ data.birth_year }}</p>
      <p>Gender: {{ data.gender }}</p>
      <p>Created On: {{ data.created }}</p>
    </div>
    <div class="col-md-6">
      <p>Species: {{ species.name }}</p>
      <p>Designation: {{ species.designation }}</p>
      <p>From: {{ planet.name }}</p>
      <p>Terrain: {{ planet.terrain }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-warning mr-4">Buy</button>
      <button class="btn btn-primary" routerLink="/">Back to List</button>
    </div>
  </div>
</section>
