<section class="container-fluid">
  <div class="row fullpage">
    <div
      class="col-lg-8 col-12 p-0 hide d-flex justify-content-center align-items-center"
    >
      <img src="../../assets/shop.svg" alt="Logo" />
    </div>
    <div class="col-lg-4 col-12 p-0">
      <div
        class="login d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="display-4 mb-5">Register</h1>
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="First Name" />
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Last Name" />
          </div>
          <label class="sr-only" for="inlineFormInputGroupUsername2"
            >E-Mail</label
          >
          <div class="input-group my-3 mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input
              type="email"
              class="form-control"
              id="inlineFormInputGroupUsername2"
              placeholder="E-Mail"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Mobile Number"
            />
          </div>
          <input
            class="form-control my-3"
            type="password"
            placeholder="Password"
          />
          <input
            class="form-control my-3"
            type="password"
            placeholder="Confirm Password"
          />
          <input
            class="btn btn-primary"
            type="submit"
            value="Sign Up"
            routerLink="/"
          />
          <a class="ml-2" style="font-size: 0.875rem;" routerLink="/login"
            >Already Have an account? Log In</a
          >
        </form>
      </div>
    </div>
  </div>
</section>
